body {
  background-color: #95b8d1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.passmess {
  text-align: center;
  background-color: #2196f3;
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 0px #000000;
  border-radius: 13px;
  color: #fff;
}

.passmess h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.passmess form label {
  background-color: red;
}

p#feedback {
  text-align: center;
  color: yellow;
  display: none;
}

[type="submit"] {
  background-color: red;
  color: #fff;
  border: 0;

  cursor: pointer;
}

#show {
  color: yellow;
}
