.accordion-content {
  display: none;
}

.accordion-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.active {
  background-color: brown;
  color: #fff;
}

.active + div {
  display: block;
}

button {
  margin-bottom: 1rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1.mb-2 {
  text-align: center;
  text-transform: uppercase;
}

button {
  border: none;
  padding: 0.5rem 2rem;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
}

button:focus {
  outline: 0;
}
