* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: all 0.3s linear;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: yellow;
  margin-right: 2rem;
  transition: all 0.3s linear;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background-color: aqua;
}

.sortBtn {
  margin-bottom: 2rem;
  margin-top: 2rem;

  display: flex;
  justify-content: center;

  width: 100%;
}

.store-item {
  margin-bottom: 3rem;
}

form {
  margin-bottom: 3rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.store-item img {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row > div {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 1.5rem;
}
