.img-container {
  min-height: 60vh;
  background: url("../img/contBcg-0.jpeg") center/cover fixed no-repeat;
  border-radius: 0.5rem;
  position: relative;
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  cursor: pointer;
  color: #fff;
}

.btn-right {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 3.5rem;
  color: #fff;
  transform: translate(50%, -50%);
  cursor: pointer;
}
