html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
}

img {
  max-height: auto;
  width: 100%;

  cursor: pointer;
}

.item {
  margin-bottom: 3rem;
}

.modals {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  background-color: #00000080;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

.modal-content {
  width: 50%;
  height: 80%;

  position: relative;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;

  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.row > div {
  max-width: 30%;
  padding: 1.5rem;
}

.row > div img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
